@charset "UTF-8";
 :root {
    --font01:'Telegraf Regular', Arial, Verdana, Helvetica,  sans-serif;
    --font02:'Telegraf UltraLight';
    --font03:'Garet-Book Bold' Arial,;
    --font04:'Garet-Book Light' Arial, ;
    --cor01: white; 
    --cor02: black;
    --cor-destaque: #f878cd;
    --cor-destaque02: #0b6380;


 }


@font-face {
    font-family: 'Telegraf Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Telegraf Regular'), url('fontes/TelegrafRegular_272984568a25d8528fe2de8b20b29011.otf') format('opentype');
    }
    

    @font-face {
    font-family: 'Telegraf UltraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Telegraf UltraLight'), url('fontes/Telegraf\ UltraLight\ 200.otf') format('opentype');
    }
    

    @font-face {
    font-family: 'Telegraf UltraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Telegraf UltraBold'), url('fontes/Telegraf\ UltraBold\ 800.otf') format('opentype');
    }
     @font-face {
        font-family: 'Garet-Book Light';
        font-style: normal;
        font-weight: normal;
        src: url('fontes/Garet-Book.otf') format('opentype');
     }

     @font-face {
        font-family:'Garet-Book Bold';
        font-style: normal;
        font-weight: normal;
        src: url('fontes/Garet-Heavy.otf') format('opentype');
     }

    * {
        margin: 0px;
        padding: 0px;
    }
    h1 {
        font-family: var(--font01);
        
    }
    header {
        min-height: 300px;
        background-color: white;
        background-image: url(imagens/elemento.png);
    }
    header > h1 {
        text-align: center;
        padding-top: 80px;
        padding-bottom: 45px;
    }
    header > nav > a {
        text-align: center;
        text-decoration: none;
        color: var(--cor01);
        font-family: var(--font04);
       

    }
    nav {
        background-color: var(--cor02);
        
    }
  