@charset "UTF-8";
 :root {
    --font01:'Telegraf Regular', Arial, Verdana, Helvetica,  sans-serif;
    --font02:'Telegraf UltraLight';
    --font03:'Garet-Book Bold';
    --font04:'Garet-Book Light';
    --cor01: white; 
    --cor02: black;
    --cor-destaque: #f878cd;
    --cor-destaque02: #0b6380;


 }


@font-face {
    font-family: 'Telegraf Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Telegraf Regular'), url('fontes/TelegrafRegular_272984568a25d8528fe2de8b20b29011.otf') format('opentype');
    }
    

    @font-face {
    font-family: 'Telegraf UltraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Telegraf UltraLight'), url('fontes/Telegraf\ UltraLight\ 200.otf') format('opentype');
    }
    

    @font-face {
    font-family: 'Telegraf UltraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Telegraf UltraBold'), url('fontes/Telegraf\ UltraBold\ 800.otf') format('opentype');
    }
     @font-face {
        font-family: 'Garet-Book Light';
        font-style: normal;
        font-weight: normal;
        src: url('fontes/Garet-Book.otf') format('opentype');
     }

     @font-face {
        font-family:'Garet-Book Bold';
        font-style: normal;
        font-weight: normal;
        src: url('fontes/Garet-Heavy.otf') format('opentype');
     }

     @font-face {
        font-family: 'Garet-Book Light';
        font-style: normal;
        font-weight: normal;
        src: url('fontes/Garet-Book.woff') format('woff');
     }

     @font-face {
        font-family:'Garet-Book Bold';
        font-style: normal;
        font-weight: normal;
        src: url('fontes/Garet-Heavy.woff') format('woff');
     }


     @font-face {
        font-family:'Garet-Book Light';
        font-style: normal;
        font-weight: normal;
        src: url('fontes/Garet-Book.ttf') format('truetype');
     }

     @font-face {
        font-family:'Garet-Book Bold';
        font-style: normal;
        font-weight: normal;
        src: url('fontes/Garet-Heavy.otf') format('truetype');
     }

     
     

     

     

    * {
        margin: 0px;
        padding: 0px;
    }
    html, body {
        min-height: 220px;
        background-color: darkgray;
    }
    
    h1, h2 , h3 , h4 {
        font-family: var(--font01);
        
    }
    p, a {
        font-family: var(--font04);
    }
    main {
        min-width: 280px;
        max-width: 1000px;
        margin: auto;
        padding: 20px;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.342);
        border-radius: 00px 0px 10px 10px ;
    }
    header {
        background-image: url(imagens/elemento2.png);
        background-position: center center;
        background-size: 80vh;
        background-repeat: no-repeat;
        min-height: 300px;
        background-color: white;
        padding-bottom: 70px;
        
    }
    header > section >  h1 {
        text-align: center;
        padding-top: 80px;
        padding-bottom: 45px;
        font-size: 5em;
    }
    header > nav > a {
        text-align: center;
        text-decoration: none;
        color: var(--cor01);
        font-family: var(--font04);
       

    }
    nav {
        
        padding-top: 10px;
        width: 150px;
        height: 30px;
        margin: auto;
        background-color: var(--cor02);
       
    }
    nav > a:hover{
        text-decoration: none;
        font-weight: bold;
        transition-duration: 0.5s;
    }
    article.sobre { 
        display: flex;
        flex-direction: row;
        justify-content:center ;
        align-items: center;
        column-gap: 20px;
        padding-top: 50px;
        min-width: 300px;
        background-color: var(--cor02);
        display: flex-box;
        
        padding-bottom: 50px;
    }
    div.conteudo01 {
        vertical-align: right;
        width: 300px;
        height: 450px;
        background-color: var(--cor02);
        color: var(--font01)
       
    }
    div.conteudo01 > p {
        padding-bottom: 12px;
        font-size: 0.57em;
        color: var(--cor01);
        padding-left: 30px;
        
    }
    div.conteudo01 > h1 {
        font-size: 2em;
        color: var(--cor01);
        padding-top: 80px;
        padding-left: 30px;
        padding-bottom: 20px;
       

    }
    div.img01 {
        background-image: url(imagens/istockphoto-1348209421-612x612.jpg);
        background-position:  top right;
        background-size: cover;
        vertical-align: right;
        width: 300px;
        height: 300px;
        padding-left: 100x;
        background-color: gray;
        border-radius: 0px 280px 0px 0px;
       
    }
    section.inove {
        display: flex;
        flex-direction: row;
        justify-content:center ;
        align-items: center;
        column-gap: 20px;
        background-color: var(--cor01);
        padding-top: 30px;
        padding-bottom: 30px ;
        
    }
    section.inove > h2, h3 {
        padding-top: 30px;
        padding-left: 30px;

        
    }
    
    div.facilidade {
        
        background-color: var(--cor-destaque);
        width: 400px;
        height: 450px;
    }
    div.facilidade > h2 {
        font-size: 2.7em;
        padding-top: 30px;
        padding-left: 30px;
    }
    
    div.facilidade  p {
        padding-top: 15px;
        padding-left: 30px;
    }
    div.crescimento {
        background-color: var(--cor-destaque);
        width: 400px;
        height: 450px;
    }
    div.crescimento > h2 {
        font-size: 2.7em;
        padding-top: 30px;
        padding-left: 30px;
    }
    div.crescimento p {
        padding-top: 15px;
        padding-left: 30px;
    }
    .fundadores {
        background-color: var(--cor-destaque02);
        color: var(--cor01);
        padding-bottom: 80px;
    }
    .fundadores h1 {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        font-size: 3em;
    }
    .container01 {
        gap: 20px;
        border: 0px solid black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        

    }
    .pessoas01, .pessoas02 , .pessoas03 {
        width: 250px;
        height: 250px;
        background-color: var(--cor-destaque);
        border-radius: 50%;
    }
    .pessoas01 {
        background-image: url(imagens/homem-bonito-posando-e-sorrindo_23-2149396133.avif);
        background-position: center top;
        background-size: cover;
    }
    .pessoas02 {
        background-image: url(imagens/designer-trabalhando-no-modelo-3d_23-2149371896.avif);
        background-size: cover;
        background-position: center top;

    }
    .pessoas03 {
        background-image: url(imagens/images.jpg);
        background-size: cover;
        background-position: center left;

    }
    .nomes {
        
        padding-top: 20px;
        text-align: center;
        gap: 20px;
        border: 0px solid black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        
     
    }
    .nomes p {
        padding-left: 48px;
        padding-right: 50px;
    }
    .part03 {
        background-color: var(--cor02);
        min-height: 400px;
    }
    .container02 {
        padding-top: 20px;
        text-align: center;
        gap: 20px;
        border: 0px solid black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
    }
    .info01, .info02, .info03, .info04, .info05 {
        color: var(--cor01);
        background-color: gray;
    }
    .info01 {
        
    }
    .info02 {
        background-image: url(imagens/celular.png);
        background-position: center center;
        background-size: cover;
    }


    
    