@charset "UTF-8";
 :root {
    --font01:'Telefraf Regular', Arial, Verdana, Helvetica,  sans-serif;
    --cor01: white; 
    --cor02: black;
    --cor-destaque: #f878cd;
    --cor-destaque02: #0b6380;
    

 }


@font-face {
    font-family: 'Telegraf Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Telegraf Regular'), url('fontes/TelegrafRegular_272984568a25d8528fe2de8b20b29011.otf') format('opentype');
    }
    

    @font-face {
    font-family: 'Telegraf UltraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Telegraf UltraLight'), url('fontes/Telegraf\ UltraLight\ 200.otf') format('opentype');
    }
    

    @font-face {
    font-family: 'Telegraf UltraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Telegraf UltraBold'), url('fontes/Telegraf\ UltraBold\ 800.otf') format('opentype');
    }